body {background-color: #e9ebee;}
ul, ol {list-style: none;}

.wrap-content {
	display: table;
	width: 100%;
	height: auto;
}

/*******顶部导航*******/
.wrap-head {
	font-weight: bold;
	font-size: 20px;
	height: 100px;
	margin-top: 0px;
	margin-bottom: 20px;
	background-color: #3e78bd;
}
/*基本项*/
.wrap-head-nav {
	width: 60%;
	float: left;
	display: block;
}
.wrap-head-nav > ul > li > a {
	margin: 0 5px;
	display: block;
	color: #ffffff;
	float: left;
}
/*搜索框*/
.wrap-head-search {
	width: 40%;
	float: left;
}
.wrap-head-search input {
	margin: 30px auto;
	border: 1px solid gray;
	border-radius: 5px;
	width: 80%;
	height: 40px;
	font-size: 14px;
}
/*文字标签项*/
.tab-item {
	text-align: center;
	padding: 30px 2px;
	line-height: inherit;
	border-radius: 10px;
}
.tab-item:hover {text-decoration: none;}
/*照片圆形边框*/
#photo {
	border: none;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	margin-top: 10px;
}
/*鼠标掠过头像*/
#photo:hover {
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow .2s;
	outline: none;
	border-color: rgba(241,39,242,.75);
	box-shadow:0 0 8px rgba(241,39,232,.5);
	-moz-box-shadow:0 0 8px rgba(241,39,232,.5);
	-webkit-box-shadow:0 0 8px rgba(241,39,232,3);
}
/******脚注样式******/
.footer {
	font-size: 12px;
	line-height: 42px;
	text-align: center;
	width: 100%;
	height: 60px;
	bottom: 0;
	position: relative;
}
.footer span {
	color: #aebdc9;
}
.footer span > a:hover {text-decoration: none;}

/******面板样式******/
.data-panel {
	display: table;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #888888;
}
.data-panel-tittle {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	font-size: 16px;
	text-align: center;
	height: 10%;
}
.data-panel-content {
	display: block;
	margin: 0;
	height: 90%;
}
.hor {padding-left: 20px;}
.data-panel  ul.hor > li {
	display: inline-block;
	width: 20%;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: rgb(92, 218, 255);
}
.vert {margin: 0; padding-left: 20px;}
.data-panel  ul.vert > li {
	clear: both;
	display: table;
	width: 100%;
	font-size: 18px;
	margin: 0 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px dotted #b7c5ff;
}

/*＊＊＊＊＊小组件＊＊＊＊＊*/
.widget-group {
	/*margin: 0 0 2em 0;*/
	margin: 0;
	margin-right: 2%;
/*	padding: 1em 1.5em 1.5em;
	background: #fff;
	border-top: 3px solid #dd5533;
	box-shadow: 0 2px 2px #aaa;
	max-width: 100%;*/
	width: 23%;
/*	box-sizing: border-box;
	-ms-word-wrap: break-word;
	word-wrap: break-word;*/
	float: left;
}
/*单个样式设置*/
.widget-group .widget {
	/*margin: 0 0 2em 0;*/
	margin: 0;
	margin-bottom: 30px;
	padding: 1em 1.5em 1.5em;
	background: #fff;
	border-top: 3px solid #dd5533;
	box-shadow: 0 2px 2px #aaa;
	max-width: 100%;
	box-sizing: border-box;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget .widget-title {
	text-transform: uppercase;
	font-family: 'Titillium Web', Tahoma, Arial;
	margin-top: 0px;
	margin-bottom: 0.8em;
}
/*横向展示*/
.show-in-row ul {
	padding-left: 0px;
}
.show-in-row li {
	padding: 0;
	width: 4em;
	height: 4em;
	text-align: center;
	display: inline-block;
	background-color: #dd5533;
	margin: 0 2px 2px 0;
	padding: 0.75em;
}
.show-in-row li > a {
	color: #ffffff;
	font-size: 25px;
}
.show-in-row li > a:hover {
	text-decoration: none;
}
/*列表形式展示*/
.show-in-list ol.circle {
	list-style: circle inside;
	padding-left: 0px;
}
.show-in-list ol > li > a.cat {
	color: #dd5533;
	font-size: 18px;
}
/*inline-block style*/
.show-in-block ol{
	padding: 0;
	list-style: none;
}
.show-in-block ol > li {
	padding: 1px 1px;
	margin: 1px 1px;
	background-color: #000000;
	color: #ffffff;
	display: inline-block;
}
/*日历样式*/
.show-calendar .calendar-wrap {
	width: 100%;
}
.calendar-wrap table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	font-size: inherit;
}
.calendar-wrap table > caption {
	text-align: center;
	font-family: 'Titillium Web', Tahoma, Arial;
	margin-bottom: 10px;
}
.calendar-wrap table thead tr {
	background-color: #f5f5f5;
}
.calendar-wrap table thead tr th {
	text-align: center;
}
th, td {
	padding: 0.3em 0.6em;
	border: 1px solid #eee;
}
/*去除tfoot样式*/
tfoot > tr > td {
	border: none;
}
tfoot > tr > td#prev {
	text-align: left;
}
tfoot > tr > td#next {
	text-align: right;
}
td > a{
	color: #dd5533;
}
td > a:hover {
	color: #be6366;
	text-decoration: none;
}





